<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="streamComponents" level="WARN"/>
    <logger name="streamComponents.VSFileSwitch" level="INFO"/>
    <logger name="streamComponents.PeriodicUpdate" level="INFO"/>
    <logger name="streamComponents.AssetSweeperDeletedSource" level="INFO"/>
    <logger name="streamComponents.VSStorageScanSource" level="INFO"/>
    <logger name="models.JobHistoryDAO" level="INFO"/>
    <logger name="models.VSFileIndexer" level="DEBUG"/>

    <logger name="nlstreamcomponents" level="INFO"/>
    <logger name="vidispine.VSCommunicator" level="WARN"/>
    <logger name="archivehunter" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>
